.wrapper {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.wrapper section {
  padding: 16px;
}

.mainCallToAction {
  background-color: var(--ifm-color-primary);
  color: white;
  font-size: 120%;
}
