@import url("//cdn-images.mailchimp.com/embedcode/classic-061523.css");

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding: 4em 1em;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

h1.title {
  margin-bottom: 0;
  font-size: 3em;
}

.subtitle {
  font-size: 1.2em;
}

.about {
  font-size: 1.2em;
  max-width: 60ch;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
  max-width: 100vw;
}

@media screen and (max-width: 996px) {
  div.links {
    display: flex;
    flex-direction: column;
  }
}

.links a {
  font-size: 2em;
  padding: 0.5em;
}

.fullWidthLink {
  grid-column: 1/3;
}

#mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
#mergeRow-gdpr {margin-top: 20px;}
#mergeRow-gdpr fieldset label {font-weight: normal;}
#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
